@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(../font/Poiret One.woff) format('woff');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(../font/Righteous.woff) format('woff');
}

*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
	height: 100vh;
}
/*导航*/
nav{
	width: 100%;
	height: 65px;
	background-color: rgb(51,51,51);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
nav,li,nav a{
	font-family: Poiret One,sans-serif;
	text-decoration: none;
	font-size: 2rem;
	/*color: white;*/
	color: rgb(240,240,240);
}
#home{
	margin-left: 5rem;
}
nav a{
	display: inline-block;
	width: 100%;
	transition: background 0.7s;
}
nav a:hover{
	background-color: rgb(71,71,71);
}
nav li{
	list-style: none;
	display: inline-block;
	line-height: 65px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
nav>ul>li{
	width: 11rem;
}
#exp-ul > ul{
	display: none;
	transition: all 0.8s;
}
#exp-ul:hover > a{
	background-color: rgb(71,71,71);
}
#exp-ul:hover > ul{
	display: block;
	visibility: visible;
}
#exp-ul ul li{
	display: block;
	float: none;
	background-color: rgb(51,51,51);
}
/*背景视频*/
.video-banner,.video-container,.filter{
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}
.video-container{
	background: black;
	overflow: hidden; 
}
.filter{
	z-index: 50;
	background-color: rgba(0,0,0,0.4);
	/*background-color: black;*/
}
.video-banner{
	z-index: 30;
}
/*大标题*/
#title-container{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 25%;
	z-index: 90;
	/*text-align: center;	*/
	/*background-color: rgba(255,255,255,.4);*/
	vertical-align: middle;
}
#title{
	display: inline-block;
	font-family: Righteous,serif;
	color: white;
	font-size: 10rem;
	/*display: inline-block;*/
	vertical-align: middle;
	/*line-height: 1.3;*/
}
#welcome{
	font-family: Poiret One,sans-serif;
	font-size: 3rem;
	/*line-height: 3.1rem;*/
}
.vertical-middle-assit{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	/*line-height: 100%;*/
	/*line-height: 490px;*/
	font-size: 0;
}
#welcome a{
	transition: color 0.8s;
	/*-webkit-transition: color 1s;*/
	text-decoration: none;
	/*color: blue;*/
}
#welcome a:hover{
	color: red;
}